/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #fff;
  color: #333;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #f7c1d9;
}

.navbar h1 {
  color: #b1005a;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background-color: #fde7f0;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #b1005a;
}

.hero button, .hero .hero-btn {
  margin-top: 20px;
  padding: 12px 30px;
  border: none;
  background-color: #b1005a;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.hero button:hover, .hero .hero-btn:hover {
  background-color: #ff4081;
}

/* TITLES */
.products-title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 40px;
  color: #c2185b;
  letter-spacing: 2px;
  position: relative;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
}

.products-title::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background: linear-gradient(90deg, #ff4081, #c2185b);
  margin: 12px auto 0;
  border-radius: 10px;
}

/* GRID PRODUCTS */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 0 40px 40px 40px;
}

.product-card {
  text-decoration: none;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 1.1rem;
  margin-bottom: 5px;
  text-align: center;
  color: #b1005a;
}

.product-card p {
  font-size: 0.9rem;
  text-align: center;
  color: #666;
  margin-bottom: 5px;
}

.product-card .price {
  font-weight: bold;
  color: #c2185b;
  margin-bottom: 5px;
}

/* SEE ALL BUTTON */
.see-all-btn {
  display: inline-block;
  text-align: center;
  margin: 20px auto 40px auto;
  padding: 12px 30px;
  background-color: #b1005a;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.see-all-btn:hover {
  background-color: #ff4081;
}

/* GALLERY (Product Details) */
.gallery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:auto;
}